
.email-details-container{
    background-color: rgb(251, 251, 251);
    display: flex;    
    gap: 10px;
}

.email-details{
    margin-top: 125px;
    height: 90vh;
    padding: 10px;    
    background-color: #fefeff;
    font-size: 1em;
    border-radius: 25px;
    flex-grow: 9;
    overflow-y: scroll;
}

.important{
    width: 25px;
    margin-inline-end: 10px;
}

.email-nav{
    margin-bottom: 15px;
}
.email-nav >*{
    margin-inline-end: 25px;
    font-size: 1.34em;
    cursor: pointer;
}
