
.email-details-container{
    background-color: rgb(251, 251, 251);;
    display: flex;    
    gap: 10px;
}

.email-details{
    margin-top: 35px;
    height: 90vh;
    padding: 10px;    
    /* margin-inline-end: 35px; */
    background-color: #fefeff;
    font-size: 1em;
    border-radius: 25px;
    flex-grow: 9;
}

.side-nav-container{
    width: 15%;
    flex-grow: 1;
}