.mail-list-container{
    height: 90vh;
    /* width: 85%; */
    padding: 10px;    
    /* margin-inline-end: 35px; */
    background-color: aliceblue;
    font-size: 1em;
    border-radius: 25px;
    flex-grow: 9;
}