.side-nav-container{
    width: 100px;
    flex-grow: 1;
}

.side-nav-container>*{
    margin-left: 10%;
}

.side-nav-container .compose-img{
    margin-top: 35px;
    width: 85px;
    height: auto;
    cursor: pointer;
}

.filter {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 15%;
}

.filter a{
    margin-top: 15px;
}
