.note-preview {
    display: flex;
    position: relative;
    background-color: aquamarine;
    min-width: 140px;
    min-height: 20px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-radius: 15px;
}