.note-preview {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: aquamarine;
    font-size: 1em;
    min-width: 10%;
    min-height: 20px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-radius: 15px;
    break-inside: avoid;
    line-break: anywhere;
    transition: box-shadow .3s;
    gap: 15px;
}

.note-preview:hover {
    box-shadow: 0 0 6px 0px #757070;
    transition: box-shadow .3s;
}
