.user-btns {
    display: flex;
    justify-content: center;
    gap: 10%;
    /* position: relative; */
}

.user-btns>* {
    cursor: pointer;
    color: rgb(87, 85, 85);
}

.user-btns>*:hover {
    color: rgb(21, 21, 21);
    transition: color .5s;
}

.user-btns .color-pick {
    display: flex;
    position: absolute;
    bottom: 29px;
    right: -28px;
    z-index: 25;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px black;

}

.user-btns .color-pick>*:hover {
    box-shadow: 0px 2px 8px black;
    transition: box-shadow .4s;
}

.user-btns .color-pick>*:not(:last-child) {
    margin-inline-end: 5px;
}

.color-pick .picked-color {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(243, 114, 140);

}

.btns-input{
    display: flex;
}