.books-filter {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books-filter form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.books-filter [name=title] {
    height: 1.8rem;
    border-radius: 10px;
    padding: 10px;
    margin-inline-end: 20px;
}

.books-filter button {
    cursor: pointer;
}