*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: noto-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: noto-regular;
    font-size: 1em;
}

a {
    font-family: noto-regular;
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
