.note-index {
    text-align: center;
    margin-inline-start: 85px;
    margin-inline-end: 85px;
    margin-top: 125px;
}

@media (max-width: 500px) {
    .note-index {
        margin-inline-start: 35px;
        margin-inline-end: 35px;
    }
}