header {
    width: 100%;
    background: rgb(251, 251, 251);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.menu-icon img{
    margin-inline-start: 25px;
    width: 35px;
    flex-grow: 1;
}

.app-menu-icon {
    height: 35px;
    margin-inline-end: 25px;
}

.logo-container img{
    position: relative;
    left: 0;
    width: 125px;
}

nav a {
    margin: .5em;
    justify-self: end;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}