.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    bottom: 100px;
    left: 25;
    opacity: 100%;
    z-index: 10;
}

.user-msg.success {
    background-color: rgb(30, 30, 30);
    opacity: 100;
    transform: opacity .4s;
}

.user-msg.error {
    background-color: lightpink;
}


.user-msg button{
    float: right;
    margin: 1em;
    display: none;
}