.book-details {
    position: relative;
    text-align: center;
    margin-inline-start: 85px;
    margin-inline-end: 85px;
}

.book-details .book-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.book-details p {
    font-size: 1rem;
}

.book-details .red {
    color: red;
}

.book-details .green {
    color: green;
}

.book-details .book-titles {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.book-details .book-description {
    width: 350px;
    margin-inline-end: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 125px;
}

.book-details button {
    cursor: pointer;

    margin-bottom: 10px;
    /* height: 2rem; */
    padding: 0.7rem;
    background-color: rgb(39, 37, 37);
    color: whitesmoke;
    border-radius: 8px;
    margin-bottom: 100px;
}

.book-details .btn-page>*{
    margin-inline-end: 10px;
}

.book-details .sale {
    position: absolute;
    top: 5px;
    right: 63%;
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
}

.book-details .long-text p {
    margin-bottom: 10px;
}   

@media (max-width: 500px){

    .book-details .book-details-container{
        flex-direction: column-reverse;
    }

    .book-details .img-container{
       max-width: 85%;
        height: 85%;
        align-self: center;
    }
}
